@{
    Layout = "~/Views/Layouts/_MainLayout.cshtml";
    Page.Title = "Add Human Resources";

    uint value;
    int step = 0;
    const int maxStep = 2;
    if (IsPost && (!int.TryParse(Request["step"], out step) || step > maxStep))
    {
        step = 0;
    }
    float progress = 100 / maxStep * step;

    ResourceManagementSystem.BusinessLogic.Workflow.FinancialResourceViewModel vm = Session["frVM"] as ResourceManagementSystem.BusinessLogic.Workflow.FinancialResourceViewModel;
    if (vm == null)
    {
        vm = new ResourceManagementSystem.BusinessLogic.Workflow.FinancialResourceViewModel(new ResourceManagementSystem.DataAccess.Mocks.FinancialResources());
        Session["frVM"] = vm;
    }
}

@section body{
    <ul class="nav nav-tabs">
        <li class="active"><a>Add</a></li>
        <li><a href="#">Update</a></li>
        <li><a href="#">Delete</a></li>
    </ul>

    <div class="progress progress-info progress-striped breadcrumb">
        <div class="bar" style="width: @progress%"></div>
    </div>

    <div class="well">
        <form action="add.cshtml" class="form-horizontal" method="post">
            <input type="hidden" value="@(step + 1)" name="step" />
            @if (step == 0)
            {
                <ul>
                    @foreach (ResourceManagementSystem.BusinessLogic.Entities.FinancialResource financialResource in vm.All)
                    {
                        <li>@financialResource.Value @financialResource.Currency.ToString()</li>
                    }
                </ul>
                <label for="selectCurrency">Currency</label>
                <select name="selectCurrency">
                    <option>Unknown</option>
                    <option>RON</option>
                </select>

                <div class="row">
                    <button type="submit" class="btn span1 pull-right">Next</button>
                </div>
            }
            else if (step == 1 && Request["selectCurrency"] != null)
            {
                switch (Request["selectCurrency"])
                {
                    case "RON":
                        vm.Currency = ResourceManagementSystem.BusinessLogic.Entities.Currency.RON;
                        break;
                    default:
                        vm.Currency = ResourceManagementSystem.BusinessLogic.Entities.Currency.Unknown;
                        break;
                }
                <div class="control-group">
                    <label class="control-label" for="inputValue">Value</label>
                    <div class="controls">
                        <input type="text" name="inputValue" placeholder="Value">
                    </div>
                </div>

                <div class="row">
                    <button type="submit" class="btn span1 pull-right">Next</button>
                </div>
            }
            else if (step == 2 && Request["inputValue"] != null && uint.TryParse(Request["inputValue"], out value))
            {
                vm.Value = value;
                <div>Se insereaza @vm.Value @vm.Currency.ToString()</div>
                if (@vm.AddFinancialResource())
                {
                <p>S-a inserat! YAY</p>
                }
                else
                {
                <p>Error!</p>
                }

                <div class="row">
                    <button type="submit" class="btn span1 pull-right">Finish</button>
                </div>
            }
        </form>
    </div>
}
