@using ResourceManagementSystem.BusinessLogic;
@using ResourceManagementSystem.BusinessLogic.Entities;
@using ResourceManagementSystem.BusinessLogic.Workflow;
@using System.Text.RegularExpressions;

@{   
    Layout = "~/Views/Layouts/_MainLayout.cshtml";
    Page.Title = "Register Research Activity";

    bool hasError = false;
    int step = 0, i = 0, nrPhases = 0;
    const int lastStep = 3;
    string errorMessage = string.Empty;
    string requestStep = IsPost ? Request["step"] : null;
    if (requestStep == null || !int.TryParse(requestStep, out step) || step > lastStep)
    {
        step = 0;
    }

    MemberViewModel membersViewModel = Session["memberViewModel"] as MemberViewModel ?? ViewModelFactory.MemberViewModel;
    Session["memberViewModel"] = membersViewModel;

    if (membersViewModel == null || membersViewModel.IsAuthenticated == false || membersViewModel.MemberType != ResourceManagementSystem.BusinessLogic.Entities.MemberType.Teacher)
    {
        Response.Redirect("~/index.cshtml");
    }
    
        
    ResearchProjectViewModel researchProjectViewModel = Session["researchProjectViewModel"] as ResearchProjectViewModel ?? ViewModelFactory.ResearchProjectViewModel;
    Session["researchProjectViewModel"] = researchProjectViewModel;
    
    List<ResearchProject> projects = researchProjectViewModel.GetMemberResearchProjects(membersViewModel.Member, out errorMessage);
    IEnumerator<ResearchPhase> phases = null;
    ResearchPhase phase = null;
    
    switch(step)
    {
        case 1:
            if (Request["ResearchProject"] != null)
            {
                int val;
                if (int.TryParse(Request["ResearchProject"], out val))
                {
                    phases = researchProjectViewModel.GetPhasesForResearchProject(projects.ElementAt(val));
                    Session["ResearchProjectPhases"] = phases;
                }
            }
            break;
            
        case 2:
            if (Request["ResearchPhase"] != null)
            {
                phases = Session["ResearchProjectPhases"] as IEnumerator<ResearchPhase>;
                
                if(!int.TryParse(Session["ResearchProjectNumberOfPhases"].ToString(), out nrPhases)){
                    nrPhases = 0;
                }
                
                int val;
                if (int.TryParse(Request["ResearchPhase"], out val))
                {
                    phases.Reset();
                    while(nrPhases > 0)
                    {
                        phases.MoveNext();
                        nrPhases--;
                    }
                    phase = phases.Current;
                    Session["ResearchProjectPhase"] = phase;
                }
                
                Session.Remove("ResearchProjectPhases");
            }
            break;
        
        case 3:
    
            researchProjectViewModel.Title = Request["title"];
            researchProjectViewModel.Description = Request["description"];
            researchProjectViewModel.StartDate = Request["startDate"];
            researchProjectViewModel.EndDate = Request["endDate"];
            researchProjectViewModel.LaborCost = (Request["laborCost"] == string.Empty ? 0 : int.Parse(Request["laborCost"]));
            researchProjectViewModel.LaborCostSelectedIndex = int.Parse(Request["laborCostSelectedIndex"]);
            researchProjectViewModel.MobilityCost = (Request["mobilityCost"] == string.Empty ? 0 : int.Parse(Request["mobilityCost"]));
            researchProjectViewModel.MobilityCostSelectedIndex = int.Parse(Request["mobilityCostSelectedIndex"]);
            researchProjectViewModel.LogisticalCost = (Request["logisticalCost"] == string.Empty ? 0 : int.Parse(Request["logisticalCost"]));
            researchProjectViewModel.LogisticalCostSelectedIndex = int.Parse(Request["logisticalCostSelectedIndex"]);
            researchProjectViewModel.IsConfidential = Request["isConfidential"] != null;
            researchProjectViewModel.SelectedTeamEmails = Request.Form.AllKeys.Where((key) => Regex.IsMatch(key, Constants.EmailCheckRegex));

            phase = Session["ResearchProjectPhase"] as ResearchPhase;
            Session.Remove("ResearchProjectPhase");

            errorMessage=string.Empty;
            
            researchProjectViewModel.TryCreateActivity(phase, out errorMessage);

            Session.Remove("researchProjectViewModel");
            
            step = 0;
            
            break;
    }
}


@section body{
    <ul class="nav nav-tabs">
        <li class="active"><a>Register Research Activity</a></li>
    </ul>

    @if (hasError)
    {
        <h1>Error!</h1>
        <p>@errorMessage</p>
        <p>We are terebly sorry for the inconvenience...</p>
        <form action="addResearchActivity.cshtml" class="form-horizontal" method="post">
            <input type="hidden" name="step" id="step" value="@step" />
            <input type="submit" value="Back" />
        </form>
    }
    else
    {
        switch (step)
        {

            case 0:
                // Select Research Project
             <div class="well">
                <h2>Select the research project:</h2>
                <form action="addResearchActivity.cshtml" class="form-horizontal" method="post">
                    <input type="hidden" value="1" name="step" id="Hidden1" />
                    <ul>
                        @for (i = 0; i < projects.Count(); i++)
                        {
                            <li>
                                <input type="radio" name="ResearchProject" value="@i" />
                                @(projects.ElementAt(i).Title)
                            </li>
                        }
                    </ul>
                    <input type="submit" value="Next" />
                </form>
            </div>
            break;

            case 1:
                // Select Research Phase
            nrPhases = 0;
             <div class="well">
                <h2>Select the project phase:</h2>
                <form action="addResearchActivity.cshtml" class="form-horizontal" method="post">
                    <input type="hidden" value="2" name="step" id="Hidden2" />
                    <ul>
                        @while(phases.MoveNext() == true)
                        {
                            <li>
                                <input type="radio" name="ResearchPhase" value="@nrPhases"/>
                                @(phases.Current.Title)
                            </li>
                            nrPhases++;
                        }
                        @{Session["ResearchProjectNumberOfPhases"]=nrPhases;}
                    </ul>
                    <input type="submit" value="Next" />
                </form>
            </div>
            break;
            
            case 2:
                //Add Research Activity
                <form class="form-horizontal" action="/addResearchActivity.cshtml" method="post">
            <div>
                <input type="hidden" value="3" name="step" id="Hidden2" />

                <label for="title">Title: </label>
                <input type="text" name="title" id="title" value="@researchProjectViewModel.Title" />

                <label for="description">Description: </label>
                <textarea name="description" id="description">@researchProjectViewModel.Description</textarea>

                <label for="startDate">Start date: </label>
                <input name="startDate" id="startDate" type="text" value="@researchProjectViewModel.StartDate" data-date-format="dd/mm/yyyy" class="datepicker" />

                <label for="endDate">End date: </label>
                <input name="endDate" id="endDate" type="text" value="@researchProjectViewModel.EndDate" data-date-format="dd/mm/yyyy" class="datepicker" />

                <label for="laborCost">Labor cost: </label>
                <input type="number" value="@researchProjectViewModel.LaborCost" name="LaborCost" id="LaborCost" />
                <select name="LaborCostSelectedIndex" id="LaborCostSelectedIndex">
                    @for (i = 0; i < researchProjectViewModel.Currency.Length; i++)
                    {
                        <option value="@i">@researchProjectViewModel.Currency[i]</option>
                    }
                </select>

                <label for="mobilityCost">Mobility cost: </label>
                <input type="number" value="@researchProjectViewModel.MobilityCost" name="MobilityCost" id="MobilityCost" />
                <select name="MobilityCostSelectedIndex" id="MobilityCostSelectedIndex">
                    @for (i = 0; i < researchProjectViewModel.Currency.Length; i++)
                    {
                        <option value="@i">@researchProjectViewModel.Currency[i]</option>
                    }
                </select>

                <label for="logisticalCost">Mobility cost: </label>
                <input type="number" value="@researchProjectViewModel.LogisticalCost" name="LogisticalCost" id="LogisticalCost" />
                <select name="LogisticalCostSelectedIndex" id="LogisticalCostSelectedIndex">
                    @for (i = 0; i < researchProjectViewModel.Currency.Length; i++)
                    {
                        <option value="@i">@researchProjectViewModel.Currency[i]</option>
                    }
                </select>

                <p style="margin: 10px 0 0;">
                    Is confidential:
                <input type="checkbox" @(researchProjectViewModel.IsConfidential ? "checked=\"checked\"" : "") name="isConfidential" id="isConfidential" />
                </p>

                <h5>Team members participating to this activity: </h5>
                @foreach (Member teamMember in researchProjectViewModel.ResearchProject.Team)
                {
                    <p>
                        <input type="checkbox" name="@teamMember.EMail" />@teamMember.ToString()
                    </p>
                }
            </div>
            <div style="margin: 10px 0 0;">
                <input type="submit" value="Submit activity" />
            </div>
        </form>
                break;
         
        }
    }
}