@using ResourceManagementSystem.BusinessLogic.Entities.Collections;
@using ResourceManagementSystem.BusinessLogic.Entities;
@using ResourceManagementSystem.BusinessLogic.Workflow;
@using System.Linq;

@{   
    Layout = "~/Views/Layouts/_MainLayout.cshtml";
    Page.Title = "Add Team";

    int step = 0;
    const int lastStep = 1;
    string errorMessage;
    string requestStep = IsPost ? Request["step"] : null;
    if (requestStep == null || !int.TryParse(requestStep, out step) || step > lastStep)
    {
        step = 0;
    }
    TeamViewModel teamsViewModel = Session["teamViewModel"] as TeamViewModel ?? ViewModelFactory.TeamViewModel;
    Session["teamViewModel"] = teamsViewModel;
    IEnumerable<Member> members = teamsViewModel.TryGetAll(out errorMessage);
}

@section body{
    <ul class="nav nav-tabs">
        <li class="active"><a>Add</a></li>

    </ul>

    <div class="well">
        @if (!IsPost)
        {
            if (members != null)
            {
            <form action="~/addTeam.cshtml" method="post">
                <h1>Human resources: </h1>
                <ul>
                    @foreach (var member in members)
                    {
                        <li>
                            <input type="checkbox" name="@member.EMail" />
                            @((member is Teacher && (member as Teacher).HasPhD) ? "Dr. " : "") @member.Name, @(member is Teacher ? (member as Teacher).Position.ToString() : member.Type.ToString()) [Contact: @member.EMail]
                        </li>
                    }
                </ul>
                <input type="submit" value="Finish" />
            </form>
         
            }
            else
            {
            <h1>Error!</h1>
            <p>@errorMessage</p>
            <p>We are terebly sorry for the inconvenience...</p>
            }
        }
        else
        {
            teamsViewModel.SelectedEMails = Request.Form.AllKeys;
            teamsViewModel.AddMembersToTeam();
            <h1>Team:</h1>
            <ul>
                @foreach (Member member in teamsViewModel.Team)
                {
                    <li>@member.Name @member.EMail</li>
                }
            </ul>
            <a class="btn pull-right" href="@teamsViewModel.NextStepLink">Next</a>   
        }
        <div style="clear:both"></div>
    </div>
}

