@using ResourceManagementSystem.BusinessLogic.Entities;
@using ResourceManagementSystem.BusinessLogic.Workflow;

@{   
    Layout = "~/Views/Layouts/_MainLayout.cshtml";
    Page.Title = "All Projects";
    string errorMessage;

    ResearchProjectViewModel researchProjectViewModel = Session["researchProjectViewModel"] as ResearchProjectViewModel ?? ViewModelFactory.ResearchProjectViewModel;
    Session["researchProjectViewModel"] = researchProjectViewModel;
    IEnumerable<ResearchProject> researchProjects = researchProjectViewModel.TryGetAll(out errorMessage);

    ResearchProject selectedProject = null;
    if (Request["id"] != null)
    {
        int id = int.Parse(Request["id"]);
        selectedProject = researchProjects.Where((project) => project.Id == id).First();
    }

}

@section body{
    <ul class="nav nav-tabs">
        <li class="active"><a>Department Projects</a></li>
    </ul>

    @if (researchProjects != null)
    {
        if (researchProjects.Count() > 0)
        {
            if (selectedProject != null)
            {
        <div class="well">
            <h1>@selectedProject.Title</h1>
            <p>
                <b>Start date:</b> @selectedProject.StartDate.ToString("d MMM yyyy")<br />
                <b>End date:</b> @selectedProject.EndDate.ToString("d MMM yyyy")
            </p>
            <p>
                @selectedProject.Description
            </p>

            <h2>Team:</h2>
            <ul style="margin: 0 0 30px;">
                @foreach (Member member in selectedProject.Team)
                {
                    <li>@member.ToString()</li>
                }
            </ul>
        </div>
    
                if (selectedProject.Count > 0)
                {
        <div class="well">
            <h2>Phases</h2>
            @foreach (ResearchPhase phase in selectedProject)
            {
                <div class="activityContainment">
                    <h2>@phase.Title</h2>
                    <p>
                        @phase.Description
                    </p>
                    <p>
                        <b>Start date: </b>@phase.StartDate.ToString("d MMM yyyy")
                        <br />
                        <b>End date: </b>@phase.EndDate.ToString("d MMM yyyy")
                    </p>
                    @if (phase.Count((activity) => !activity.IsConfidential) > 0)
                    {
                        <h3>Activities</h3>
                        foreach (ResearchActivity researchActivity in phase)
                        {
                            if (!researchActivity.IsConfidential)
                            {
                        <div class="activityContainment">
                            <h4>@researchActivity.Title</h4>
                            <p>
                                @researchActivity.Description
                            </p>
                            <p>
                                <b>Start date: </b>@researchActivity.StartDate.ToString("d MMM yyyy")<br />
                                <b>End date: </b>@researchActivity.EndDate.ToString("d MMM yyyy")<br />
                                <b>Assignee@(researchActivity.AssigneeCount > 1 ? "s" : ""):</b> @string.Join(", ", researchActivity.Select((assignee) => assignee.Name))
                            </p>
                            @if (researchActivity.ClassRooms.Count > 0)
                            {
                                <p>
                                    <b>Class rooms used:</b> @string.Join(", ", researchActivity.ClassRooms.Select((classRoom) => classRoom.Name))
                                </p>
                            }
                            @if (researchActivity.Equipments.Count > 0)
                            {
                                <p>
                                    <b>Equipment used:</b> @string.Join(", ", researchActivity.Equipments.Select((equipment) => string.Format("{0} {1} ({2})", equipment.Brand, equipment.Model, equipment.SerialNumber)))
                                </p>
                            }
                        </div>
                            }
                        }
                    }
                </div>
            }
        </div>
                }
            }
            else
            { 
        <div class="well">
            <ul>
                @foreach (ResearchProject project in researchProjects)
                {
                    <li><a href =" getProjectsInfo.cshtml?id=@project.Id">@project.Title </a></li>

                }
            </ul>
        </div>
            }
        }
        else
        {
        <h1>No projects... :(</h1>
        <p>There are no active projects, fix it!</p>
        }
    }
    else
    {
        <div class="well">
            <h1>Error!</h1>
            <p>@errorMessage</p>
            <p>We are terebly sorry for the inconvenience...</p>
        </div>
    }
}
